#map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* leaflet container */
.leaflet-container {
  background-color: rgba(9, 22, 41, 1);
}

/* Override Leaflet popup styles */
.leaflet-popup-content {
  max-width: none;
  max-height: none;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(9, 22, 41, 0.8);
  color: transparent;
}

/* Hide the Leaflet popup content wrapper */
.leaflet-popup-content-wrapper {
  background-color: transparent !important; /* Make the background transparent */
  border: none !important; /* Remove the border */
  padding: 0 !important; /* Remove any padding */

  /* Ensure the close button (X) is white */
  .leaflet-popup-close-button {
    color: white !important;
  }
}


.custom-cluster-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  /* transparency */
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 50%;
  color: aliceblue;
  position: relative;
  /* Add this to allow absolute positioning of the outer circle */
}

/* Reset image styles applied by Tailwind CSS */
/* Use a specific class or ID for your images */
.custom-image {
  max-width: none;
  height: 22px;
  width: 22px;
}